@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url("./fonts/OTF/ClashDisplay-Semibold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
 
body {
  font-family: "Clash Display", Arial, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --font-beatriceDeck: 'Beatrice Deck', sans-serif;
    --font-Satoshi: 'Satoshi', sans-serif;
  }
}
