@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-beatriceDeck);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --font-beatriceDeck: 'Beatrice Deck', sans-serif;
    --font-Satoshi: 'Satoshi', sans-serif;
  }
}
